#form {
	margin-bottom: 10px;
}
#sample_wrappers {
	display: none;
}

#artistsForm {
	margin-left: 20px;
}

.event {
	border-bottom: solid 1px white;
}

.event.selected_artist .eventCell, .event.selected_artist .calendarEventCell {
	background: #56ddff;
}

.eventCell, .noEvent, .calendarEventCell {
	background: #9debff;
}

.event .where {
	text-transform: capitalize;
}

.date {
	background: #0786a7;
    color: #effcff;
	padding: 0px 5px 0px 5px;
    border-left: solid 1px white;
}

.eventCell, .noEvent {
    display: table-cell;
    width: 300px;
    max-width: 300px;

    padding: 0px 5px 0px 5px;
    border-left: solid 1px white;
}

#lastmodified {
	margin-bottom: 10px;
}

.container {
	/*margin: 0px auto;
    width: 98%;*/
}

.calendarEventCell {
    display: table-cell;
    padding: 0px 5px 0px 5px;
    border-left: solid 1px white;
}

.header .eventCell {
	cursor: pointer;
	color: #effcff;
	background: #0786a7;
}


.week {
	border: solid 2px white;
}

.day {
	display: inline-block;
    width: 100px;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
	.day {
		width: 70px;
	}
}
@media (min-width:480px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
	.day {
		width: 85px;
	}
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	.day {
		width: 100px;
	}
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
}
