#sample_wrappers {
	display: none;
}

.filtered_event {

	margin-bottom: 5px;
    margin-bottom: 5px;
}
.filteredEventCell {
    display: table-cell;
    background: #DEB354;
    width: 250px;

    padding: 0px 5px 0px 5px;
    border-left: solid 1px white;
}

.odd .filteredEventCell {

}

.header {
	cursor: pointer;
	font-weight: bold;
	/*background: #CB833A;*/
}

#form {
	display: none;
}