#sample_wrappers {
	display: none;
}

.event_source {
	display: inline-block;
	background: #ff8585;
	padding: 5px;
	border-radius: 10px;
	margin: 5px;
	cursor: pointer;
	text-transform: capitalize;
}

.event_source.selected {
	background: red;
}

.event {

}

.event.odd {
	background: #e8c4e6;
}

.event .text {
	display: table-cell;
}
.event .source {
	display: table-cell;
	width: 200px;
	text-transform: capitalize;
}

.event .date {
	display: table-cell;
	width: 100px;
}

#loading {
	padding: 10px;
	border-radius: 10px;

	background: #00b3ff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    color: white;
}

