.talam_ticker .kriyas {
	margin: 10px 0;
	background: #DCF5FF;
	display: none;
}
.talam_ticker .kriya {
	padding: 10px;
	margin-right: 2px;
	width: 60px;
	display: inline-block;
}
.talam_ticker .current {
	background: #00B6FF;
}
.bpm {
	width: 60px;
}

#script .readable,.notated_readable,.playable,.play_btn_wrapper {
	display: inline-block;
}
.txt {
	width: 350px;
}
.btn-sound {
	margin: 6px;
}
.avartanam {
	margin-bottom: 10px;
	border-bottom: solid 1px #e0e0e0;
    padding-bottom: 10px;
    font-size: 10px;
}

.angam {
	display: inline-block;
}
.matra {
	display: inline-block;
    width: 81px;
}
.bold {
	font-weight: bold;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}