<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Timelines of the World</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <style>
    body {
        padding-top: 10px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div id="lastmodified">
            This page was last updated at <span id='last_modified_time'></span>.
        </div>

        <div id='sources'></div>
        <div id='events'></div>
    </div>


    <div id="sample_wrappers">
        <div id="sample_event_source">
            <div class="event_source"></div>
        </div>

        <div id="sample_event">
            <div class="event">
                <div class='date'></div>
                <div class='source'></div>
                <div class='text'></div>
            </div>
        </div>

    </div>

    <script src="js/jquery.js"></script>  <!-- jQuery Version 1.11.1 -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap Core JavaScript -->
    <script src="js/moment-combined.js"></script>
    <script src="js/data.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
